<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <ul>
    <li>
        <a>Create New Message</a>
    </li>
    <li>
        <a>View 1 Archived Messages</a>
    </li>
  </ul>
  <table class="inbox">
    <thead>
        <tr>
            <td>Received</td><td>Subject</td><td>From</td><td>Read</td>
        </tr>
    </thead>
    <tbody>
        <td>blank</td><td><a>blank</a></td><td>blank</td><td>blank</td>
    </tbody>

  </table>