<h1><%- title %></h1>
<%- messages() %>
<form class="login-form">
    <label>Email<input type="email" name="account_email"></label>
    <label>Password<input type="password" name="account_password"></label>
    <input type="submit" value="LOGIN">
</form>
<div>
    <span>No account? <a href="/account/register">Sign up</a></span>
</div>