:root {
  --primary-fg: rgb(115, 16, 16);
  --primary-bg: rgb(234, 242, 247);
  --secondary-fg: rgb(236, 229, 209);
  --secondary-bg: rgb(41, 84, 18);
  --pop: rgb(170, 7, 7);
  --decorative-font: "Anta", sans-serif;
  --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header, footer, main {
  padding: 1rem;
}

body {
  background-image: url('/images/site/small_check.jpg');
  background-position: top;
  background-attachment: fixed;
  background-repeat: repeat-y;
  margin: 0;
  font-family: var(--body-font);
  border-radius: 0;
  border-width: 0;
  transition: padding 1s;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav {
  color: var(--secondary-fg);
  background-color: var(--secondary-bg);
  background-image: linear-gradient(90deg, var(--secondary-bg), rgba(255, 255, 255, 0.258), var(--secondary-bg));
  width: 100%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.703);
}
footer {
  overflow: hidden;
}

a {
  display: inline-block;
  color: unset;
  filter: brightness(1.1);
  text-decoration: none;
  transition: scale .5s;
}
a:hover {
  transform: scale(1.1);
  transition: transform .5s;
}


nav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
  list-style: none;
  padding: .5rem 2rem .5rem 2rem;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: var(--decorative-font);
}



#wrapper {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.498);
}

.content {
  display: flex;
  flex-direction: column;
}

.siteName a {
  font-family: var(--decorative-font);
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-fg);
  font-size: 2.5rem;
}

#tools a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* Hero */
.hero {
  padding: 1rem;
  background-color: white;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.111);
}

.hero img {
  width: 80%;
  grid-column: 1/4;
  grid-row: 1/2;
  justify-self: center;

}

.hero-text {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.703);
  color: var(--pop);
  padding: .5rem;
  box-shadow: 0 0 20px rgba(0, 102, 255, 0.092);
}
.hero-text input {
  align-self: center;
}


.hero ul {
  list-style: none;
  padding: 0;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-left: .1rem;
  padding-right: .1rem;
}


/* Caption Image */
.caption-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg);
  /* border: 2px solid var(--primary-fg); */
  color: var(--secondary-fg);
  border-radius: .5rem;
  overflow: hidden;
}

.caption-image > div {
  
  /* border: 1px solid var(--secondary-fg); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.caption-image > p {
  padding: .5rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.127);
  width: 100%;
  text-align: center;
  color: var(--secondary-fg);
}

/* General use classes */
.button-blue {
  background-color: var(--pop);
  color: white;
  border: 0;
  border-radius: .3rem;
  padding: .5rem;
}

ul.open {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul#inv-display {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

ul#inv-display > li {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.173);
}
ul#inv-display > li a {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
}
ul#inv-display > li img {
  width: 100%;
}
ul#inv-display > li div.namePrice {
  padding: 1rem;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-shadow: 0 0 25px var(--secondary-bg), 0 0 3px black;
}

  /* Error page styles */
div.error-display {
  display: flex;
  flex-direction: column;
}
div.error-display img {
  width: 50%;
  align-self: center;
}

/* Car list styles section */
section.car-listing {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
section.car-listing img {
  width: 100%;
  border-bottom: 10px solid var(--secondary-bg);
}
section.car-listing div.car-information {
  grid-row: 2/4;
  grid-column: 1/2;
  background-color: #fff6;
  text-shadow: 0 0 7px white;
  backdrop-filter: blur(2px);
  padding: 1rem;
}
section.car-listing dl dt {
  font-size: 1.1rem;
  font-weight: bolder;
}

/* Week 4 */
.notice {
  color: rgb(184, 194, 0);
  list-style: none;
  background-color: rgba(0, 0, 0, 0.747);
  padding: .5rem;
  border-radius: 3px;
}
.notice li::before {
  content: "> ";
}


@media screen and (min-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: padding 1s;
  }
  #wrapper {
    width: 100%;
    max-width: 700px;
    border: 4px solid var(--secondary-bg);
    border-radius: .5rem;
    /* padding: .5rem; */
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  section#reviews {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  section#upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  ul#inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.car-listing{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.car-listing img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  section.car-listing div.car-information {
    grid-column: 2/3;
    grid-row: 1/2;
  }

}