<h1><%- title %></h1>
<%- messages() %> <%# WK4 TSK2.4 %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form class="login-form" action="/inv/add-classification" method="post"> <%# The form must send all data... %>
    <label>CLASSIFICATION NAME<input type="text" name="classification_name" required value="<%= locals.classification_name %>" pattern="[0-9a-zA-Z]+"></label>
    <span class="fine-print">Required. Cannot contain spaces or special characters.</span>
    <input type="submit" value="ADD">

</form>